@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #CCB6B6;
	color: #fff;
	font-weight: bold;
	border: 0;
}

.btn:hover,
.btn:focus,
.btn:active {
	color: #CCB6B6;
	background-color: #491314;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited{
	display: inline-block;
	float: right;
	text-align:right;
	padding: .25em .5em;
	margin-right:-30px;
	background-color: #491314;
	color: #fff;
	font-weight: bold;
	border: 0;
	
}

.btn-alt:hover,
.btn-alt:focus,
.btn-alt:active {
	color: #CCB6B6;
	background-color: #491314;
}